# macOS files
.DS_Store

# Python cache and compiled files
__pycache__/
*.pyc

# VS Code local files
.vscode/

# Environment files
.env
*.env
.env.*

# Website and blog output files
/.quarto/
**/*.quarto_ipynb


